<li>
<div id = "user-profile-photo">
  <img class ="img" src=<%= user.photo %>>  
</div>
<div class = "user-info">
  <h2><%= user.name %></h2>
  <p> Number of posts: <%= user.posts_counter -%></p>
</div>
</li>
